* {
      font-family: Arial, Helvetica, sans-serif;
      color: #fff;
}

body {
      margin: 0;
      background-image: linear-gradient(45deg,#2C5784,#5688C7);
}

.container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
}

.calculadora {
      display: grid;
      grid-template-columns: repeat(4, 75px);
      grid-template-rows: 160px repeat(5, 75px);
      padding: 10px;
      background: rgba(255, 255, 255, 0.36);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(9.3px);
      -webkit-backdrop-filter: blur(9.3px);
      box-shadow: 15px 10px 15px 5px #00000012;
}

button {
      cursor: pointer;
      margin: 5px;
      padding: 0;
      font-size: 1.2rem;
      font-style: bold ;
      border: 1px solid rgba(255, 255, 255, 0.596);
      background: rgba(255, 255, 255, 0.18);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(9.3px);
      -webkit-backdrop-filter: blur(9.3px);
      box-shadow: 5px 5px 10px -3px #00000040,
      -5px -5px 15px 3px #00ffc11f;
}

button:active {
      opacity: .5;
}

button:focus {
      outline: none;
}

.col-2 {
      grid-column: span 2;
}

.display {
      grid-column: 1 / -1;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
      margin: 10px 10px 20px;
      padding: 16px;

      background: rgba(192, 192, 192, 0.18);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(9.3px);
      -webkit-backdrop-filter: blur(9.3px);
      text-align: right;
      word-break: break-all;
}

#valorActual {
      font-size: 1.5em;
}
#valorAnterior {
      font-size: 2em;
}